@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));



:root {
  --sh-class: #7aa2f7;
  --sh-sign: #89ddff;
  --sh-string: #9ece6a;
  --sh-keyword: #bb9af7;
  --sh-comment: #565f89;
  --sh-jsxliterals: #7aa2f7;
  --sh-property: #73daca;
  --sh-entity: #e0af68;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s forwards; /* 0.5s duration */
}

.animation-delayin {
  animation-delay: 2.5s; /* 2.5 seconds delay */
}